* {
    background-color: rgb(225, 233, 234);
}

#title {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.border {
    border: 3px solid;
    border-radius: 1rem;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    width: auto;
    height: auto;
}

#copyQuote {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem;
    background-color: #f30909;
    border-radius: 5rem;
    border-color: #f30909;
    cursor: pointer;
}

#getQuote {
   text-align: center;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0.5rem;
   background-color: #19f309;
   border-radius: 5rem;
   border-color: #19f309;
   cursor: pointer;
}

#quote {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem;
}

#author {
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   margin: 0.5rem;
}
